<%= error_messages_for 'twit' %>
<!--[form:twit]-->
<%= select :twit ,:type_id, Type.find_all.collect{|a| [a.type_name+":",a.id]} %>
<%= text_field 'twit', 'title'  %>
<%= hidden_field :twit, :url, :value => @twit.url  %>
<%= hidden_field :twit, :user_id, :value => current_user.id   %>
<!--[eoform:twit]-->

