<div id ="tipcontents">
<div class="sc2">FF user, <b> DRAG THIS IMAGE</b> to your toolbar.
<a href="javascript:(function(){TwitThatPop=window.open(%22http://twitio.us/go?url=%22+encodeURIComponent(location.href)+%22%26title=%22+((document.title)?encodeURIComponent(document.title.replace(/^\s*|\s*$/g,%27%27)):%22%22),%22TwitThatPop%22,%22width=600,height=500,location,status,scrollbars,resizable,dependent=yes%22);setTimeout(%22TwitThatPop.focus()%22,100);})()"><%= image_tag("twitio.gif",:alt =>"twitious it!") %></a></div>
<div class="sc2">IE / Opera user, <b>RIGHT-CLICK the IMAGE, ADD TO FAVORITES. </b>
<a href="javascript:(function(){TwitThatPop=window.open(%22http://twitio.us/go?url=%22+encodeURIComponent(location.href)+%22%26title=%22+((document.title)?encodeURIComponent(document.title.replace(/^\s*|\s*$/g,%27%27)):%22%22),%22TwitThatPop%22,%22width=600,height=500,location,status,scrollbars,resizable,dependent=yes%22);setTimeout(%22TwitThatPop.focus()%22,100);})()"><%= image_tag("twitio.gif",:alt =>"twitious it!") %></a>
</div>

</div>
